---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Luke DeWitt | Developer" layout="homepage">
  <h2
    class="mt-2 text-xl sm:text-2xl font-medium text-violet-600 dark:text-violet-400"
  >
    Director &bull; Developer &bull; Dad
  </h2>

  <p class="mt-6 text-stone-600 dark:text-indigo-200 leading-relaxed">
    I'm a developer based in Halifax, Nova Scotia, and a big "team" guy — I
    believe that if you're going to lead, you have to do it while keeping your
    hands dirty.
  </p>
</BaseLayout>
