---

---

<a
  id="home-button"
  href="/"
  title="Back Home"
  class="w-10 h-10 flex items-center justify-center rounded-full text-stone-500 dark:text-violet-400 hover:bg-violet-100 dark:hover:bg-gray-800 transition-colors duration-300 cursor-pointer"
>
  <i class="fa-solid fa-house text-xl"></i>
</a>
